<h1>Discount show page</h1>
<%= link_to "Edit discount", "/merchants/#{@merchant.id}/discounts/#{@discount.id}/edit" %>

<p><%= @discount.name %></p>
<p>Percent off: <%= @discount.percent %></p>
<p>Minimum purchase quantity: <%= @discount.min_quantity %></p>
